/*--- HEADER & TITLE -------------------------------------------------*/

    div#header {background-color:none;margin-top:0px}
        
    h1.title{ padding: 20px 0px 0px 0px;
            margin-top:0px;
            margin-left:300px;
            color:black;}

    h3.subtitle{margin-left:300px; margin-top:0px}



/*--- TOC_FLOAT ------------------------------------------------------*/

    /* -- Costumise tab's color selected --*/
    li.tocify-item.list-group-item.active {background-color: #0F6F74;}


    /* -- Costumise body --*/
    .tocify ul, .tocify li {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    line-height: 20px;
    background-color: #FFFCF5;
    color:#FF7202;
    }



/*--- BODY -----------------------------------------------------------*/

body {background-color: #FFFCF5; color: "black";}
      
p.body {text-align:justify; line-height: 3.5;}

h1 {color: black}

      

/*--- TABSETS --------------------------------------------------------*/            

    /*-- Dimension of each tab --*/
    .tabset .nav-tabs > li {width: 50%;}

    /*-- Tab selected --*/
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        cursor: default;
        background-color: #B3E0FF;
        border-top: 5px solid ;
        border-top-color: #A5CEEB;
        color:#333333;
        text-align:center;
        text-transform: uppercase;
        font-weight:bold;
    }
    
    /*-- Tab NO selected --*/ 
    .nav-tabs>li>a {background-color:#DCEFFB; color:#333333;}

    /*-- Tab NO selected hover --*/ 
    .nav-tabs>li>a:hover {background-color:#CCCCCC; color:#333333;}

    /*-- border --*/
    .nav-tabs {border-bottom: 1px solid #4E89AE;}
